/*
* @Author: 陇锦
* @Date:   2017-12-02 14:47:11
* @Last Modified by:   陇锦
* @Last Modified time: 2017-12-02 15:05:40
*/
*{
	margin:0;
	padding:0;
	font-family: "微软雅黑","宋体",sans-serif;
	font-size: 16px;
	list-style: none;
}


body{
	background: #fff;
}
img{
	border: none;
}
a{
	text-decoration:none;
}
i{
	font-style: normal;
}